.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #15223b;
    color: white;
    width: 100%;
    margin: 0;
    padding: 10px;
  
    h2 {
        margin: 0;
        padding: 0;
    }
}